{% extends 'base.html' %}
{% block title %} About FriendNotes {% endblock %}
{% block content %}

<br>
<div class="block">
    <div class ="about">
        <h1>Hey There!</h1>
    </div>
<br>
    <p> This project was made so I can explore different tools in web development;</p>
    <p> tools that mainly focused on exploring database related things using SQLite.</p>
    <p> I also thought it would be more than fun to come back to a website with notes created by</p>
    <p> family and friends. I hope to further explore web development.</p>
    <p> Thanks for visiting!</p>
</div>
{% endblock %}